* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
}

footer p {
  margin-right: 1.5rem;
}

footer img {
  width: 150px;
}

.capitalize {
  text-transform: capitalize;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.ct-chart-line {
  margin-bottom: 4rem !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.ct-series-a .ct-line {
  stroke: #77C9FF !important;
  stroke-width: 5px;
}

.ct-series-a .ct-point {
  stroke: #358ec9 !important;
}

.ct-series-a .ct-area {
  fill: #77C9FF !important;
}

header {
  background-color: #77C9FF;
  padding: 3rem 0;
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
}

header h1 {
  color: #1A679A;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3rem;
  margin-bottom: 2rem;
}

.back-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #77C9FF;
  color: #1A679A;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 2rem;
}

svg {
  display: block;
}

.tweet {
  background-color: white;
  padding: 1rem;
  border: 1px solid black;
}

.tweet .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.tweet .top img {
  margin-right: 1rem;
  border-radius: 100%;
}

.tweet .date {
  margin-top: 1rem;
}

.event {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
}

.event .date {
  margin-top: 1rem;
}

.coin {
  background-color: #f0f9ff;
  padding: 1rem;
  margin-bottom: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 51%;
  border: 2px dashed transparent;
}

.coin h3 {
  margin-bottom: 1rem;
}

.coin .rank {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #77C9FF;
  color: white;
  font-weight: bold;
}

.coin a {
  text-decoration: none;
  color: unset;
}

.coin .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.coin:hover {
  border-color: #77C9FF;
}

table {
  width: 100%;
}

table th {
  text-align: left;
}

table th, table td {
  padding: 0.5rem;
}

table tr {
  background-color: #f1f1f1;
}

table tr:nth-child(odd) {
  background-color: white;
}

.volume {
  margin-top: 2rem;
}
/*# sourceMappingURL=style.css.map */